#{extends 'main.html' /}
#{set title:'Ajax Tests' /}


<div id="newMessage">
	<textarea id="message" name="message"></textarea>
	<input type="button" value="send" id="send"/>
</div>

<div id="datum">Ovdje ide datum</div>
<input type="button" value="Refresh date" id="refreshDate" onclick="refreshDate()" />

<hr/>

<div id="nekiXml">Ovdje ide neki xml</div>
<input type="button" value="Refresh xml" id="refreshXml" onclick="refreshXml()" />

<hr/>
<input type="button" value="Load posts list" id="loadPosts" onclick="loadPosts()" />
<div id="posts"/>


<script type="text/javascript">

	function refreshDate() {
		$.get('@{getDate()}', function(datum) {
			$('#datum').html(datum);
		}); 
	}

	function refreshXml() {
		$.get('@{getSomeXml()}', function(x) {
			$('#nekiXml').html(x);
		}); 
	}

	function loadPosts() {
		$.get('@{getPosts()}', function(x) {
			$('#posts').html(x);
		}); 
	}

</script>