#{extends 'main.html' /}
#{set title:'Home' /}

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

#{if flash.success}
    <p style="color:#0c0">
        ${flash.success}
    </p>
#{/if}

<form action="@{Application.sayHello()}" method="GET">
    <input type="text" name="myName" /> 
    <input type="submit" value="Say hello!" />
</form> 

<br/>

<form action="@{Application.addUser()}" method="GET">
    First name: <input type="text" name="firstname" /> <br/>
	Last name: <input type="text" name="lastname" /> <br/>
	User: <input type="text" name="email" /> <br/>
    <input type="submit" value="Save user" />
</form> 